/* General CSS */
html, body {
	background-color: #E5E5E5;
	font-family: arial;
	min-height: 100%;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}
button {
	cursor: pointer;
}
a, a:visited {
	color: #1A87ED;
	text-decoration: none;
}
a:hover {
	color: #ED1A87;
}
#content {
	min-height: 100%;
	margin: 120px 90px 0 154px;
}
.settings {
	background-image: url("../images/sprites_16.png");
	background-repeat: no-repeat;
	background-position: -48px 0;
	cursor: pointer;
	float: right;
	height: 16px;
	width: 16px;
}
.settings:hover {
	background-position: -48px -16px;
}
h1 {
	font-size: 1.5em;
	text-align: center;
}
h2 {
	border-bottom: 2px solid #1A87ED;
    font-size: 1em;
	margin-bottom: 10px;
}
#btnSpacer {
	text-align: center;
	padding-top: 20px;
}
button {
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 4px;
	padding: 6px 25px;
	background: #1A87ED;
	border: 1px solid #1A87ED;
}
button:hover {
	box-shadow: 1px 1px 2px 2px #999999;
}
.valid {
	border-color: #28921F;
	box-shadow: 0 0 5px #5CD053;
}
.invalid {
	border-color: #E52D2D !important;
	box-shadow: 0 0 5px #D45252 !important;
}
.textCenter {
	text-align: center;
}
.textRight {
	text-align: right;
}

/* Menu */
nav {
	box-shadow: 1px 3px 8px #BBBBBB;
	background-color: #FFFFFF;
	height: 84%;
	position: fixed;
	top: 8%;
	width: 64px;
	border-radius: 0 16px 16px 0;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 8px 0;
	
}
nav li {
	padding: 8px 0 0 16px;
}
nav img {
	cursor: pointer;
}
.selectedPage {
	border-left: 3px solid #1A87ED;
	margin-left: 5px;
}
.selectedPage img {
	margin-left: -8px;
}
.selectedPage .menuTooltip {
	margin: -34px 0 0 45px;
}
.badge {
	position: absolute;
	border-radius: 16px;
	font-weight: bold;
	color: #FFFFFF;
	border: 2px solid #FFFFFF;
	box-shadow: 0 0 4px 1px #444444;
	height: 21px;
	padding: 2px 0px 0px 7px;
	width: 16px;
	background-color: #ED1A87;
	margin: -34px 0 0 35px;
}
#searchDiv {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.85);
	border-radius: 8px;
	color: #FFFFFF;
	display: none;
	height: 80%;
	padding: 20px;
	position: fixed;
	left: 124px;
	width: 1200px;
	top: 10%;
	z-index: 20;
}
#searchTerm {
	background-color: rgba(0, 0, 0, 0.15);
	border: 2px solid #FFFFFF;
	border-radius: 5px;
	color: #FFFFFF;
	font-weight: bold;
	padding: 5px;
	width: 99%;
}
#searchResults {
	margin-top: 10px;
}
.resultItem {
	float: left;
	margin: 10px 10px 40px;
	text-align: center;
	width: 96px;
}
#logo {
	position: absolute;
	top: 0;
	right: 0;
}

/* Home */
#col1, #col2 {
	float: left;
}
#col2 {
	margin-left: 50px;
}
.module {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	box-shadow: 1px 3px 8px #BBBBBB;
	background-color: #FFFFFF;
	border-radius: 8px;
	margin-bottom: 25px;
	min-height: 200px;
	padding: 12px;
}

/* Qtip2 - custom version of tipsy style for text and for menu */
.qtip-tipsy-custom {
	background-color: rgba(0, 0, 0, 0.85);
	border-radius: 8px;
	color: #FFFFFF;
	border: 0 solid transparent;
	font-size: 12px;
	font-weight: bold;
}
.qtip-tipsy-custom .qtip-content {
	padding: 6px 20px;
}
.qtip-tipsy-custom-menu {
	font-size: 14px;
}

/* Datatables */
thead {
	background-color: #FFFFFF;
	box-shadow: 0 8px 6px -2px #BBBBBB;
	z-index: 11;
}
table.dataTable thead th, table.dataTable thead td {
	border-bottom: 0;
	border-top: 1px solid #000000;
}

/* List View */
#topControls {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #FFFFFF;
	border-radius: 8px 8px 0 0;
	padding: 10px;
	z-index: 10;
}
#topControlLeft, #topControlCenter, #topControlRight {
	width: 33%;
	display: inline-block;
}

#filter {
	border: 1px solid #AAAAAA;
	border-radius: 4px;
	box-shadow: 0 0 3px #CCCCCC;
	padding: 3px;
	width: 250px;
}

#topControlCenter {
	text-align: center;
}
.controlAdd:before , .controlEdit:before, .controlDelete:before {
	background-image: url("../images/sprites_16.png");
	background-repeat: no-repeat;
	content: "";
	display: inline-block;
	height: 16px;
	margin-right: 5px;
	vertical-align: text-top;
	width: 16px;
}

.addDisabled, .editDisabled, .deleteDisabled {
	color: #888888 !important;
	cursor: default;
}
.addDisabled:before {
	background-position: 0 -32px;
}
.editDisabled:before {
	background-position: -16px -32px;
}
.deleteDisabled:before {
	background-position: -32px -32px;
}

.addEnabled:before {
	background-position: 0 0;
}
.addEnabled:hover:before {
	background-position: 0 -16px;
}
.editEnabled:before {
	background-position: -16px 0;
}
.editEnabled:hover:before {
	background-position: -16px -16px;
}
.deleteEnabled:before {
	background-position: -32px 0;
}
.deleteEnabled:hover:before {
	background-position: -32px -16px;
}

.controlAdd , .controlEdit {
	margin-right: 32px;
}
.selectCol {
	text-align: center;
}
#employeesTable_wrapper {
	margin-bottom: 50px;
}

/* Individual View */
#data {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #FFFFFF;
	border-radius: 0 0 8px 8px;
	padding: 10px 10px 30px;
	margin-bottom: 50px;
	z-index: 10;
}
section {
	margin-top: 30px;
}
.sectionData {
	padding: 0 4%;
}
.sectionData:after {
	clear: both;
	content: "";
	display: block;
}
dl {
	float: left;
	width: 50%;
	margin: 0;
}
dt {
	float: left;
	clear: both;
	width: 150px;
	font-weight: bold;
	padding: 2px 0;
}
dt:after {
	content: ":";
}
dd {
	float: left;
}
table.customTable {
	border-spacing: 0;
	border-bottom: 1px solid #111111;
}
table.customTable thead th, table.customTable thead td {
	padding: 10px 18px;
	border-top: 1px solid #000000;
}
table.customTable tbody th, table.customTable tbody td {
    padding: 8px 10px;
	border-top: 1px solid #DDDDDD;
}
table.customTable tbody tr:nth-child(odd) {
	background-color: #F9F9F9;
}

/* Popup */
#popup {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 100;
	display: none;
}
#popup > div {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 20px 10px;
    position: relative;
	margin: 10% auto;
    width: 700px;
}
#close {
    background-color: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0 1px 3px #000000;
    color: #1A87ED;
    cursor: pointer;
    font-weight: bold;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
}
#close:hover {
	color: #ED1A87;
}

ul {
	float: left;
	width: 50%;
	list-style: none;
	padding: 0;
	margin: 0;
}
.sectionData li {
    padding: 3px 0;
}
label {
	display: inline-block;
	width: 125px;
	font-weight: bold;
}
label:after {
	content: ":";
}
#popup input[type="text"], #popup select, #popup textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #AAAAAA;
    border-radius: 4px;
    box-shadow: 0 0 3px #CCCCCC;
    padding: 2px;
    width: 125px;
}